@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

header {
  height: 130px;
  background-color: #F0F4F2;
  color: #00722B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav button {
  display: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
header nav ul li:last-child {
  padding: 1px;
  border-left: 7px solid #00F35A;
  margin-left: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #00230D;
  text-transform: uppercase;
  padding: 2px;
}
header nav ul li a:hover {
  animation: underline 0.8s forwards;
}

main .data {
  display: grid;
  grid-template-areas: "coin data" "coin data";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-area: coin;
  margin: 0 auto;
}
main .data .coins {
  box-sizing: border-box;
  background-color: #F0F4F2;
  border: 2px solid #c5c4c4;
  border-left: 8px solid #00F35A;
  height: 300px;
  width: 95%;
  overflow-y: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .data .coins p {
  padding-left: 10px;
}
main .data .coins p:hover {
  color: #00F35A;
  transition: 0.2s;
}
main .data .coinsData {
  grid-area: data;
  box-sizing: border-box;
  background-color: #F0F4F2;
  border: 2px solid #c5c4c4;
  border-right: 8px solid #00F35A;
  height: 300px;
  width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .data .coinsData h3 {
  color: #00A53D;
  margin-bottom: 5px;
}
main .data .coinsData p {
  color: #00230D;
}
main .data .coinsData p span {
  color: #00722B;
}
main h1 {
  grid-area: title;
  text-align: center;
  padding: 20px;
  color: #00A53D;
}

footer {
  background-color: black;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .social ul {
  padding-left: 10px;
}
footer h4 {
  color: #F0F4F2;
}
footer nav ul {
  list-style: none;
}
footer nav ul a {
  color: #00F35A;
  text-decoration: none;
}
footer h2 {
  color: #00F35A;
}
footer .logo {
  display: flex;
  align-items: flex-end;
}

@keyframes slideImg {
  0% {
    opacity: 0;
    scale: 0.89;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (max-width: 706px) {
  header nav button {
    display: block;
    padding: 10px 13px;
    border-radius: 25%;
    border: 1px solid #bbb9b9;
    background-color: #00F35A;
    color: #00230D;
    cursor: pointer;
  }
  header nav ul {
    position: absolute;
    top: 130px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #bbb9b9;
    width: 100vw;
    height: calc(100vh - 130px);
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
  }
  header nav ul li {
    height: 20%;
    margin: 0;
    text-align: center;
  }
  header nav ul li:last-child {
    border: none;
    margin: 0;
    font-weight: bold;
  }
  header nav ul li:last-child a {
    color: #00A53D;
    text-decoration: underline dotted;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul.active {
    display: flex;
    animation: slideImg 0.2s;
  }

  main .data {
    grid-template-areas: "coin coin" "data data";
    grid-template-columns: 100%;
  }
  main .data .coins {
    margin: 10px auto;
    width: 60%;
  }
  main .data .coinsData {
    margin: 10px auto;
    width: 60%;
    border-left: 8px solid #00F35A;
    border-right: 2px solid #c5c4c4;
  }
}
@media screen and (max-width: 482px) {
  main .data .coins {
    width: 80%;
  }
  main .data .coinsData {
    width: 80%;
  }

  footer h2 {
    display: none;
  }
}

/*# sourceMappingURL=catalogo.css.map */
