@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

header {
  height: 130px;
  background-color: #F0F4F2;
  color: #00722B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav button {
  display: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
header nav ul li:last-child {
  padding: 1px;
  border-left: 7px solid #00F35A;
  margin-left: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #00230D;
  text-transform: uppercase;
  padding: 2px;
}
header nav ul li a:hover {
  animation: underline 0.8s forwards;
}

main {
  margin-bottom: 20px;
}
main h1 {
  text-align: center;
  color: #00A53D;
}
main form {
  box-shadow: 0px 8px 1px #00F35A;
  border-radius: 10px;
  border-top: 2px solid #00F35A;
  background-color: #F0F4F2;
  margin: 50px auto;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
main form legend {
  text-align: center;
}
main form #submit {
  margin: auto;
  padding: 8px 30px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  background-color: #00F35A;
  border: 2px solid #00F35A;
  margin-top: 10px;
}
main form #submit:hover {
  color: #F0F4F2;
  transition: 0.5s;
}
main form input {
  width: 60%;
}
main form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
main .modelo {
  display: none;
}
main .appear {
  padding: 20px;
  width: 50%;
  height: 600px;
  background-color: #F0F4F2;
  overflow-y: scroll;
  border-radius: 10px;
  border: 1px solid #b5acac;
  margin: auto;
}
main .appear .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .appear .content div {
  margin: auto;
}
main .appear .content div h3 {
  color: #00A53D;
}

footer {
  background-color: black;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .social ul {
  padding-left: 10px;
}
footer h4 {
  color: #F0F4F2;
}
footer nav ul {
  list-style: none;
}
footer nav ul a {
  color: #00F35A;
  text-decoration: none;
}
footer h2 {
  color: #00F35A;
}
footer .logo {
  display: flex;
  align-items: flex-end;
}

@keyframes slideImg {
  0% {
    opacity: 0;
    scale: 0.89;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (max-width: 706px) {
  header nav button {
    display: block;
    padding: 10px 13px;
    border-radius: 25%;
    border: 1px solid #bbb9b9;
    background-color: #00F35A;
    color: #00230D;
    cursor: pointer;
  }
  header nav ul {
    position: absolute;
    top: 130px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #bbb9b9;
    width: 100vw;
    height: calc(100vh - 130px);
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
  }
  header nav ul li {
    height: 20%;
    margin: 0;
    text-align: center;
  }
  header nav ul li:last-child {
    border: none;
    margin: 0;
    font-weight: bold;
  }
  header nav ul li:last-child a {
    color: #00A53D;
    text-decoration: underline dotted;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul.active {
    display: flex;
    animation: slideImg 0.2s;
  }
}
@media screen and (max-width: 482px) {
  footer h2 {
    display: none;
  }
}

/*# sourceMappingURL=historic.css.map */
