@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

header {
  height: 130px;
  background-color: #F0F4F2;
  color: #00722B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav button {
  display: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
header nav ul li:last-child {
  padding: 1px;
  border-left: 7px solid #00F35A;
  margin-left: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #00230D;
  text-transform: uppercase;
  padding: 2px;
}
header nav ul li a:hover {
  animation: underline 0.8s forwards;
}

main {
  margin-top: 20px;
}
main .slide {
  box-sizing: border-box;
  width: 100%;
  height: 1fr;
  padding: 50px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main .slide button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 50px;
}
main .slide button img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
main .slide .box {
  animation: slideImg 0.3s;
  margin: auto;
  height: 100%;
  width: 90%;
  overflow: hidden;
}
main .slide .box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
main .slide .slide1 {
  display: none;
}
main .slide .slide1.active {
  display: block;
}
main .slide .slide2 {
  display: none;
}
main .slide .slide2.active {
  display: block;
}
main .slide .slide3 {
  display: none;
}
main .slide .slide3.active {
  display: block;
}
main .slideMobile {
  display: none;
}
main .subtitulo {
  text-align: center;
  color: #00722B;
  font-size: 2rem;
}
main .main-coins {
  background-color: #00722B;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
main .main-coins div {
  width: 33.3333333333%;
  text-align: center;
  margin: 20px 0;
}
main .main-coins div h3 {
  padding: 10px;
  color: #00F35A;
}
main .main-coins div p {
  margin: 5px 0;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #F0F4F2;
}
main .main-coins div p span {
  font-weight: normal;
  color: #00F35A;
}
main .main-coins .btn {
  margin: auto;
  padding: 8px 30px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  color: #00230D;
  border: 1px solid #00722B;
  background-color: #00F35A;
}
main .main-coins .btn:hover {
  background-color: #00A53D;
  color: #F0F4F2;
  transition: 0.5s;
}
main .about {
  height: 1fr;
  margin: 20px 0;
  display: grid;
  grid-template-areas: "txt form" "txt form";
  grid-template-columns: 60% 1fr;
  gap: 20px;
}
main .about article {
  grid-area: txt;
  background: url("/image/money.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: auto;
}
main .about article h2 {
  border-left: 8px solid #00F35A;
  border-bottom: 1px solid #00F35A;
  margin-bottom: 10px;
  color: #F0F4F2;
  padding: 2px;
}
main .about article p {
  align-items: center;
  color: #F0F4F2;
  line-height: 50px;
}
main .about form {
  width: calc(100% - 20px);
  border-radius: 10px;
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F0F4F2;
  padding: 10px;
  box-sizing: border-box;
}
main .about form h3 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: #00F35A;
}
main .about form button {
  padding: 5px 20px;
  width: fit-content;
  margin: auto;
}
main .about form div {
  margin: auto 0;
  width: 100%;
}
main .about form .input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  align-items: center;
}
main .about form .input input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e6e5e5;
  font-size: 1rem;
}
main .about form .input input:focus {
  outline: none;
  background-color: #e4e2e2;
  transition: 0.5s ease-in;
}
main .about form .input input:hover {
  background-color: #f7f6f6;
}
main .about form .checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
  align-items: center;
}
main .about form .checkbox label {
  padding-left: 5px;
}
main .about form .checkbox label a:hover {
  color: #6a146a;
}
main .about form button {
  margin: auto;
  padding: 8px 30px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  color: #00230D;
  border: 1px solid #00722B;
  background-color: #00F35A;
}
main .about form button:hover {
  background-color: #00A53D;
  color: #F0F4F2;
  transition: 0.5s;
}

footer {
  background-color: black;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .social ul {
  padding-left: 10px;
}
footer h4 {
  color: #F0F4F2;
}
footer nav ul {
  list-style: none;
}
footer nav ul a {
  color: #00F35A;
  text-decoration: none;
}
footer h2 {
  color: #00F35A;
}
footer .logo {
  display: flex;
  align-items: flex-end;
}

@keyframes slideImg {
  0% {
    opacity: 0;
    scale: 0.89;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes underline {
  to {
    color: #00A53D;
  }
}
@media screen and (max-width: 898px) {
  main .about {
    grid-template-areas: "txt txt" "form form";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
  main .about form {
    margin: 10px;
  }
  main .about form h3 {
    padding: 0;
  }
}
@media screen and (max-width: 706px) {
  header nav button {
    display: block;
    padding: 10px 13px;
    border-radius: 25%;
    border: 1px solid #bbb9b9;
    background-color: #00F35A;
    color: #00230D;
    cursor: pointer;
  }
  header nav ul {
    position: absolute;
    top: 130px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #bbb9b9;
    width: 100vw;
    height: calc(100vh - 130px);
    padding: 10px;
    box-sizing: border-box;
  }
  header nav ul li {
    height: 20%;
    margin: 0;
    text-align: center;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  header nav ul.active {
    display: flex;
  }

  main .slide {
    display: none;
    padding: 14px 0;
  }
  main .slideMobile {
    display: block;
  }
}
@media screen and (max-width: 482px) {
  main .subtitulo {
    font-size: 1.3rem;
  }
  main .main-coins div {
    width: 50%;
  }
  main .about {
    grid-template-rows: 1fr;
  }
  main .about form {
    height: fit-content;
  }
  main .about form div {
    margin: 34px 0;
  }
  main .about form button {
    margin: 0 auto;
  }

  footer h2 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
