@import "variavel.scss";
@mixin button {
    margin: auto;
    padding: 8px 30px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
        color: $branco;
        transition: .5s;
    }
}
*{
    padding: 0;
    margin: 0;
    font-family: $fonte;
}
header{
    height: 130px;
    background-color: $branco;
    color: $verde3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    & nav{
        button{
            display: none;
        }
        & ul{
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style: none;
            & li{
                &:last-child{
                        padding: 1px;
                        border-left: 7px solid $verde1;
                        margin-left: 15px;

                }
                & a{
                    text-decoration: none;
                    color: $verde4;
                    text-transform: uppercase;
                    padding: 2px;
                    &:hover{
                        animation: underline .8s forwards;
                    }
            }
                }
        }
    }
}

main{
    margin-bottom: 20px;
    & h1{
        text-align: center;
        color: $verde2;
    }
    & form{
        box-shadow: 0px 8px 1px $verde1;
        border-radius: 10px;
        border-top: 2px solid $verde1;
        background-color: $branco;
        margin: 50px auto ;
        width: 200px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        & legend{
            text-align: center;
        }
        & #submit{
            @include button();
            background-color: $verde1;
            border: 2px solid $verde1;
            margin-top: 10px;
        }
        & input{
            width: 60%;
            
        }
        & fieldset{
            border: none;
            display: flex;
            flex-direction: column;
        }
    }
    & .modelo{
        display: none;
    }
    & .appear{
        padding: 20px;
        width: 50%;
        height: 600px;
        background-color: $branco;
        overflow-y: scroll;
        border-radius: 10px;
        border: 1px solid rgb(181, 172, 172);
        margin: auto;
        & .content{            
            display: flex;
            flex-direction: column;
            gap: 30px;
            & div{
                margin: auto;
                
                & h3{
                    color: $verde2;
                }
            }
            
    
        }
    }
   
}

footer{
    background-color: black;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 1fr;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    & .social{
        & ul{
            padding-left: 10px;
        }
    }
    & h4{
        color: $branco;
    }
    & nav{
        & ul{
            list-style: none;
            a{
                color: $verde1;
                text-decoration: none;
            }
        }
    }
    & h2{
        color: $verde1;
    }
    & .logo{
        display: flex;
        align-items: flex-end;
    }
}



@keyframes slideImg {
    0%{
        opacity: 0;
        scale: .89;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

@media screen and (max-width: 706px) {
    header{
        nav{
            //position: relative;
            & button{
                display: block;
                padding: 10px 13px;
                border-radius: 25%;
                border: 1px solid #bbb9b9;
                background-color: $verde1;
                color: $verde4;
                cursor: pointer;
            }
            ul{
                position: absolute;
                top: 130px;
                left: 0;
                display: none;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                background-color: #bbb9b9;
                width: 100vw;
                height: calc(100vh - 130px);
                padding: 10px;
                box-sizing: border-box;
                z-index: 10;
                & li{
                    height: calc(100% / 5);
                    margin: 0;
                    text-align: center;
                    &:last-child{
                        border: none;
                        margin: 0;
                        font-weight: bold;
                        & a{
                            color: $verde2;
                            text-decoration: underline dotted;
                        }
                    }
                    & a{
                        font-size: 1rem;
                    }
                }
            }
            & ul.active{
                display: flex;
                animation: slideImg .2s;
            }
        }
    }
}


@media screen and (max-width: 482px) {
    footer{
        & h2{
            display: none;
        }
    }
}