*{
    padding: 0;
    margin: 0;
}
header{
    height: 130px;
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main{
    margin-top: 20px;
    & .slide{
        width: 80%;
        height: 1fr;
        padding: 50px;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        & button{
            background-color: transparent;
            border-radius: 50%;
            border: none;
            width: 50px;
            & img{
                width: 100%;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        & .box{
            animation: slideImg .3s;
            margin: auto;
            height: 100%;
            width: 90%;
            overflow: hidden;
            & img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }
        & .slide1{
            display: none;
            &.active{
                display: block;
            }
        }
        & .slide2{
            display: none;
            &.active{
                display: block;
            }
        }
        & .slide3{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    & .subtitulo{
        text-align: center;
        font-size: 2rem;
    }
    & .main-coins{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        & div{
            width: calc(100%/3);
            text-align: center;
            margin: 20px 0;
            & h3{
                padding: 10px;
                color: green;
            }
            & p{
                margin: 5px 0;
            }
        }
    }
}

@keyframes slideImg {
    0%{
        opacity: 0;
        scale: .89;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

@keyframes valorAtualizado {
    0%{
        font-weight: bold;
    }
    100%{
        font-weight: normal;
    }
}