& .conversor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
    line-height: 40px;
    & .btn{
        display: block;
        text-transform: uppercase;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        border: 1px solid;
    }
    & #compra{
        & h3{
            color: $verde1;
            text-transform: uppercase;
            text-align: center;
        }
        & #submitCompra{
            background-color: green;
            border-color: rgb(25, 80, 25);
        }
        & .inputValor{
            border-radius: 8px;
            padding: 5px;
            border: 1px solid #1f1f11;
        }
    }
    & #venda{
        & h3{
            color: red;
            text-transform: uppercase;
            text-align: center;
        }
        & #submitVenda{
            background-color: red;
            border-color: rgb(145, 25, 25);
        }
        & .inputValor{
            border-radius: 8px;
            padding: 5px;
            border: 1px solid #1f1f11;
        }
    }
& p{
    text-transform: uppercase;
    }
}