@import "variavel.scss";
*{
    padding: 0;
    margin: 0;
    font-family: $fonte;
}
header{
    height: 130px;
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main{
    margin-top: 20px;
    & .slide{
        box-sizing: border-box;
        width: 100%;
        height: 1fr;
        padding: 50px;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        & button{
            background-color: transparent;
            border-radius: 50%;
            border: none;
            width: 50px;
            & img{
                width: 100%;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        & .box{
            animation: slideImg .3s;
            margin: auto;
            height: 100%;
            width: 90%;
            overflow: hidden;
            & img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }
        & .slide1{
            display: none;
            &.active{
                display: block;
            }
        }
        & .slide2{
            display: none;
            &.active{
                display: block;
            }
        }
        & .slide3{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    & .subtitulo{
        text-align: center;
        font-size: 2rem;
    }
    & .main-coins{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        & div{
            width: calc(100%/3);
            text-align: center;
            margin: 20px 0;
            & h3{
                padding: 10px;
                color: green;
            }
            & p{
                margin: 5px 0;
                font-weight: bold;
                letter-spacing: .8px;
                & span{
                    font-weight: normal;
                }
            }
        }
        & .btn{
            margin: auto;
            padding: 10px 20px;
            text-transform: uppercase;
            
        }
    }
    & .conversor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 20px;
        line-height: 40px;
        & .btn{
            display: block;
            text-transform: uppercase;
            padding: 5px 20px;
            cursor: pointer;
            border-radius: 10px;
            color: white;
            border: 1px solid;
        }
        & #compra{
            & h3{
                color: green;
                text-transform: uppercase;
                text-align: center;
            }
            & #submitCompra{
                background-color: green;
                border-color: rgb(25, 80, 25);
            }
            & .inputValor{
                border-radius: 8px;
                padding: 5px;
                border: 1px solid #1f1f11;
            }
        }
        & #venda{
            & h3{
                color: red;
                text-transform: uppercase;
                text-align: center;
            }
            & #submitVenda{
                background-color: red;
                border-color: rgb(145, 25, 25);
            }
            & .inputValor{
                border-radius: 8px;
                padding: 5px;
                border: 1px solid #1f1f11;
            }
        }
        & p{
            text-transform: uppercase;
        }
    }
}

@keyframes slideImg {
    0%{
        opacity: 0;
        scale: .89;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

@keyframes valorAtualizado {
    0%{
        font-weight: bold;
    }
    100%{
        font-weight: normal;
    }
}